.btn{
    border: none;
    outline: none;
    background: none;
    padding: 5px 20px;
    border-radius:5px;
    font-size: inherit;
    font-weight: bold;
    cursor: pointer;
}
.btn--primary{
    background-color: hsl(200, 100%, 50%);
}
.btn--primary:hover{
    background-color: hsl(200, 50%, 50%);
}
.btn--danger{
    background-color: hsl(0, 100%, 50%);
}
.btn--danger:hover{
    background-color: hsl(0, 50%, 50%);
}
